<div class="pageContainer">
    <div class="sideBar">
        <img src="/assets/SunViewLogo.png" alt="SunViewLogo" class="svLogo">
        <div class="listItems">
            <a routerLink = "/Dashboard" routerLinkActive = "selected" class="listItem">DASHBOARD</a>
            <a routerLink = "/TroubleShootQueries" routerLinkActive = "selected" class="listItem">TROUBLESHOOT QUERIES</a>
            <a routerLink = "/ReindexScheduler" routerLinkActive = "selected" class="listItem">REINDEX SCHEDULER</a>
        </div>

    </div>
    <div class="pageContentContainer">
        <router-outlet></router-outlet> 
    </div>
</div>