<div class="mat-elevation-z1 peaches" style = "margin: 2vh;width:95%; height: 85vh; background-color: #fff; border-radius: 15px;">
    <div class = "hhh">
        <div style="width: 45%; float: left;margin-left:2vh ; ">
            My indices 
            <mat-form-field style = "margin-left:4vh ;">
                <mat-label>Bulk Actions</mat-label>
                <mat-select #sel (valueChange)="bulkActions(sel.value)">
                  <mat-option (click) = onBulk() value="0">Re-index</mat-option>
                  <mat-option value="1">Delete</mat-option>
                </mat-select>
            </mat-form-field>
        </div> 
        <div style="width: 45%; float: right;margin-top: 1.5vh; ">
            <button (click) = "onAddNew()" style="float: right;margin-right:2vh;"  mat-raised-button class = "mat-raised-button" >Add new</button>
        </div>
    </div>
    
    <mat-table [dataSource] = "listData" matSort class = "table bananas">
        
        <ng-container matColumnDef = "check"  style = "margin: 0;" >
            <mat-header-cell *matHeaderCellDef class = "header" mat-sort-header> ✓</mat-header-cell>
            <mat-cell *matCellDef = "let element" class = "elements" >
                <mat-checkbox (change) = "onCheckBox(element.index)"></mat-checkbox>
            </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef = "name"  >
            <mat-header-cell *matHeaderCellDef class = "header" mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef = "let element" class = "elements">{{element.index}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef = "numDocs">
            <mat-header-cell *matHeaderCellDef class = "header" mat-sort-header># of docs</mat-header-cell>
            <mat-cell *matCellDef = "let element" class = "elements">{{element["docs.count"]}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef = "size">
            <mat-header-cell *matHeaderCellDef class = "header" mat-sort-header>Size</mat-header-cell>
            <mat-cell *matCellDef = "let element" class = "elements">{{element["store.size"]}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef = "type">
            <mat-header-cell *matHeaderCellDef class = "header" mat-sort-header>Type</mat-header-cell>
            <mat-cell *matCellDef = "let element" class = "elements">_doc</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef = "quickActions" >
            <mat-header-cell *matHeaderCellDef class = "header">Quick actions</mat-header-cell>
            <mat-cell *matCellDef = "let row">
                <a class = "quickActions"  (click) = "onReindex(row.index)">Reindex</a> 
                <a (click) = onDelete(row.index) class = "quickActions">Delete</a>            
            </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef = "displayedColumns" ></mat-header-row>
        <mat-row *matRowDef = "let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>